.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
  background-color: #f8f9fa;
  min-height: 100vh;
}

h1 {
  color: #0078d7;
}

p {
  color: #333;
  font-size: 18px;
}
